/*ANEXAR*/


.gridAnexar__div__img__logoanexar {
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 90px;
    grid-template-rows: 70px;
    justify-content: center;}

.backAnexar__div__img {
    width: 150%;
}