/*ANEXAR*/


.gridAnexar__div__img__logoanexar {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 120px;
    align-content: center;
    justify-content: center;}

.backAnexar__div__img {
    width: 100%;
    align-items: center;
}