
/*Footer*/

.imgFooterFlex {
    display:inline;
    list-style: none;
    float: left;
    padding: 0;
    text-align:center;
    justify-items: center;}


/*Seminario*/

.gridMain__main__seminario {
    display: grid;
    grid-template-columns: 300px; 
    justify-content: center;
    align-items: center;}

.flex__seminario {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;}

.iconos__seminario {
    display: flex;
    justify-content: center;
    align-content: center; }

/*el equipo*/
.ElEquipo {
    align-content: center;
    padding: 1%;
    margin: 1%;
    overflow: hidden; }

.ElEquipoNegro {
    align-content: center;
    padding: 1%;
    margin: 1%;
    overflow: hidden;}




