/* FOOTER */
$grismedio:rgb(44, 44, 44);
footer {
    border-style: dotted ;

    ul {     
        color: $grismedio;
        list-style: none;
        list-style-position: inside;
        text-align: left;
        font-weight: lighter; 
        padding: 1%; }       

}

.parFooter__footer__ul__li {
    font-size: 13px; }

.parHechoPorRocio__footer__ul__li__últimalinea {
    text-align: right;}
